[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Make sure that global table exists before SMODS loading
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "self.SPEEDFACTOR = 1"
position = "before"
payload = '''
blindexpander = blindexpander or {}
'''
match_indent = true

# Make sure that the Passive class exists before mods load
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
pattern = "SMODS.Blinds = {}"
position = "before"
payload = '''
blindexpander.Passives = {}

blindexpander.Passive = SMODS.GameObject:extend({
    set = "Passive",
    obj_buffer = {},
    obj_table = blindexpander.Passives,
    required_params = {
        "key",
    },
    loc_vars = function(self, blind, passive) end,
    config = {},
    class_prefix = "psv",
    calculate = function(self, blind, passive, context) end,
    inject = function(self, i) end,
    remove = function(self) end,
    apply = function(self, from_disable) end
})
'''
match_indent = true

# Add strikethrough property for text
[[patches]]
[patches.pattern]
target = 'engine/ui.lua'
match_indent = true
position = 'before'
pattern = '''
--Draw the 'chosen triangle'
'''
payload = '''
if self.config.strikethrough and self.config.strikethrough[4] > 0.01 then 
    prep_draw(self, 1)
    love.graphics.scale(1/(G.TILESIZE))
    love.graphics.setLineWidth(1)
    love.graphics.setColor(self.config.strikethrough)
    self:draw_pixellated_strikethough('line', parallax_dist)
    love.graphics.pop()
end
'''

# DynaText compat
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
match_indent = true
position = 'after'
pattern = '''
final_line[#final_line].nodes[1] = {n=G.UIT.O, config={
'''
payload = '''
strikethrough = part.control.st and loc_colour(part.control.st),
'''

[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
match_indent = true
position = 'after'
pattern = '''
font = SMODS.Fonts[part.control.f] or G.FONTS[tonumber(part.control.f)],
'''
payload = '''
strikethrough = part.control.st and loc_colour(part.control.st),
'''